.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Tahoma, sans-serif;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pokemon-card:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 15px 15px 25px #111;
}


