.container {
  background-color: #123456;
  width: 100%;
  min-height: 90vh;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: #a12300;
}
